/*
font-family: 'Pinyon Script', cursive;
font-family: 'Cormorant Garamond', serif;
font-family: 'Barlow', sans-serif;
*/

body{
  color: #3C3C3C;
  font-family: 'Barlow', sans-serif;
  font-weight: 300;
}

a{
  color: #fff;
}

a:hover{
  text-decoration: none;
  color: #fff;
}

.section{
  background-color: #fff;
}

.col{
  position: relative;
}

.homepageColumns .col:hover .sectionCursor{
  bottom: 0px;
}

.homepageColumns .col:hover .logo{
  opacity: 1;
}

.homepageColumns{
  margin-left: -1px;
  overflow: hidden;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.homepageColumns .homepageColumn{
  cursor: pointer;
  display: block;
}

.homepageColumns .sectionCursor{
  position: absolute;
  bottom: -100px;
  font-size: 200px;
  color: #fff;
  width: 100%;
  z-index: 99;
  text-align: center;
  font-family: 'Cormorant Garamond', serif;
  transition: 0.2s all;

}

.homepageColumns .col-content {
  background: rgba(0,0,0,0.45);
  height: 100vh;
  transition: 0.3s all;
  border-left: 1px solid #fff;
  position: relative;


}

.homepageColumns .col-content p{
  color: #fff;
  text-transform: uppercase;
}

.homepageColumns .col-content p a{
  letter-spacing: 4px;
}

.homepageColumns .col-content:hover{
  background: rgba(0,0,0,0.65);
}

.homepageColumns .col-content .logo{
  position: absolute;
  opacity: 0;
  top: 40px;
  width: 100%;
  z-index: 99;
  text-align: center;
  transition: 1.2s all;
}

.homepageColumns .col-content .logo img{
  width: 70%;
}

.homepageColumns h1{
  font-size: 15px;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 30px;
  font-weight: bold;
  letter-spacing: 4px;
}

.homepageColumns h2{
  font-size: 28px;
  color: #fff;
  font-weight: 100;
  font-family: 'Cormorant Garamond', serif;
  margin-bottom: 30px;
  letter-spacing: 1px;
}



#fullpageVideo{

}

.vh-100{
  height: vh100;
}

.vw-100{
  width: vw100;
}

.vw-100p{
  width: 100%;;
}

.timelineSlide h1{
  text-transform: uppercase;
  font-size: 60px;
  color: #B49E62;
  margin: 0px;
  font-family: 'Cormorant Garamond', serif;
  font-weight: 100;
}


.timeline{

}

.timeline .timelineDate{
  margin-top: -50px;
  width: 80%;
  display: inline-block;
}

.timeline .timelineDate h2{
  font-family: 'Cormorant Garamond', serif;
  font-size: 14px;
  color: #B49E62;
}
.timeline .timelineDate h3{
  font-family: 'Cormorant Garamond', serif;
  font-size: 48px;
  color: #C3C3C3
}
.timeline .timelineDate p{
  font-size: 13px;
}


.sectionIndex{
  font-size: 150px;
  position: absolute;
  line-height: 100px;
  top: 10px;
  right: 10px;
  z-index: 999;
  font-family: 'Cormorant Garamond', serif;
  color: rgba(0,0,0,0.15);
}


.stdPage{

}
.stdPage .superTitle{
  color: #B49E62;
  font-family: 'Cormorant Garamond', serif;
  font-size: 22px;
  letter-spacing: 1.28px;


}
.stdPage h1{
  text-transform: uppercase;
  font-family: 'Cormorant Garamond', serif;
  font-weight: 200;
  line-height: 35px;
}
.stdPage h2{
  font-size: 16px;
  font-weight: 600;
  margin: 15px 0px;
}

.stdPage h3{
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 2.3px;
  padding-left: 30px;
  margin-left: -30px;
  background-position: center left;
  background-repeat: no-repeat;


}

.stdPage p{
  font-size: 15px;
  font-family: 'Cormorant Garamond', serif;

  line-height: 18px;


  letter-spacing: 0.6px;
  margin-bottom: 10px;

}

.stdPage p strong{
  font-weight: 900;
}

.stdPageIconsList{
  display: inline-block;
  margin-left: 10px;

}
.stdPageIconsList img{
  width: 15px;
  display: inline-block;
  margin-left: -30px;
}
.stdPageIconsList .col{
  text-transform: uppercase;
  font-size: 13px;
  margin-bottom: 5px;
  font-weight: 400;
  letter-spacing: 3px;
  white-space: nowrap;
}

.stdPageIconsList .col a{
  color: #000;
  transition: 0.3s all;
}

.stdPageIconsList .col a:hover{
      color: #B49E62!important;
}

.slide20 .stdPageIconsList .col a{
  color: #fff!important;
}

.slide20 .stdPageIconsList .col a:hover{
  color: #B49E62!important;
}

.stdPageIconsList .col a:hover{
  text-decoration: none;
  color: #000;
}

.emptySquaredBox{
  border: 3px solid black;
  height: 100%;
  width: 100%;
  left: -40px;
  bottom: -40px;
  position: absolute;
  z-index: -1;
}

.stdPage .geograficoLogo{
  margin-top: 60px;
  margin-left: 10px;
  height: 60px;
  display: block;
}

.carousel{
  position: relative;
}

.pageSuperTitle{
  color: #B49E62;
  position: absolute;
  text-transform: uppercase;
  font-family: 'Cormorant Garamond', serif;
  font-weight: 200;
  font-size: 40px;
  bottom: 0px;
  left: -80px;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.stdPageCarousel{
  z-index:9;
}

.stdPageCarousel .carousel-control{
  position: absolute;
  top: 80%;
  height: 40px;
  width: 40px;
  text-align: center;

  background: #000;
  opacity: 0.9;
}

.stdPageCarousel .carousel-control-prev{
  right: -20px!important;
  margin-top: 40px;
  left: auto;
}

.stdPageCarousel .carousel-control-next{
  right: -20px!important;

}

.backgroundOverlay{
  background-color: rgba(0,0,0,0.55)
}

.fullPage{

}

.fullPage h1{
  font-family: 'Cormorant Garamond', serif;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: #B49E62;
  font-weight: 200;
  font-size: 50px;
}

.fullPage h2{
  font-family: 'Cormorant Garamond', serif;
  text-transform: uppercase;
  margin-bottom: 10px;
  color: #fff;
  font-weight: 200;
  font-size: 40px;
}

.fullPage .fullPageMiddleBox{
  color: #fff;
  text-transform: uppercase;
  margin: 40px 0px 70px 0px;

}

.fullPage .fullPageMiddleBox img{
  display: inline-block;
  margin-bottom: 15px;
}

.fullPage .fullPageMiddleBox p{
  width: 200px;
  display: inline-block;
}

.fullPage .fullPageIntro{
  color: #fff;
  font-family: 'Cormorant Garamond', serif;
  font-weight: 300;
  font-size: 20px;
  letter-spacing: 1px;
  text-align: center;
  line-height: 28px;
  padding: 0px 140px;
  width: 140%;
  margin-left: -20%;
}

.fullPage .pageIconsListWrapper{
  margin-left: 20px;
}

.fullPage .pageIconsListWrapper .stdPageIconsList li a{
  color:#fff !important;
  white-space: nowrap;
}

.fullPage .pageIconsListWrapper i{
  color:#fff !important;
}

.hr-white{
  height: 1px;
  color: #fff;
  margin-bottom: 10px;
  background-color: rgba(255,255,255,0.45);
  border: none;
}

.carousel-indicators-custom{
  position: absolute;
  display: block;
  z-index: 99;
  text-align: center;
  top:40%;
  right: 20px;
}

.carousel-indicators-custom ol{
  list-style: none;
  padding-left: 0px;
}

.carousel-indicators-custom li{
  display: block;
  height: 20px;
  width:20px;
  transform: none!important;

  border: 1px solid rgba(255,255,255,0);
  text-align: center;
  padding-top: 1px;
  transition: 0.5s all;
  position: relative!important;
  justify-content:center;
  float: none!important;
  cursor: pointer;

}

.carousel-indicators-custom li.active{
  border: 1px solid #fff;
}

.carousel-indicators-custom li div{

  display: inline-block;
  height: 10px;
  width:10px;
  background-color:#fff;
  margin-bottom: 5px;
}


.galleryPage{
  position: relative;
}

#winesListAccordion{
  width: 100%;
}

.floatingValley{
  width: 170%;
  margin-left: -60%;
}

.floatingValley img{
  max-width: 100%;
  display: block;
}


.winesPageCarousel .wineCardSuperTitle{
  font-family: 'Cormorant Garamond', serif;
  color: #B49E62;
  font-size: 24px;
  font-weight: 100;
}
.nameTitle{
  font-family: 'Cormorant Garamond', serif;
  font-size: 46px;
  display: block;
  position: absolute;
  -webkit-transition: all 1.5s linear;
  -moz-transition: all 1.5s linear;
  transition: all 1.5s linear;
  top: 0px;
  line-height: 45px;
  text-transform: uppercase;
}

.appellationTitle{
  font-size: 14px;
  margin-bottom: 40px;
  transition: 1.5s all;
  display: block;
  position: absolute;
  top: 0px;
}

.nameTitleWrapper{
  height: 63px;
  position: relative;
  transition: 0.5s all;
}

.appellationTitleWrapper{
  height: 46px;
  position: relative;
}

.winesPageCarousel .descrLineTitle{
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 10px;
  display: block;

  padding-left: 50px;
}

.winesPageCarousel .descrLineTitle span{

  color: #A4A4A4;
}

.winesPageCarousel .descrLine{
  display: block;
  font-family: 'Cormorant Garamond', serif;
  margin-bottom: 0px;
  padding-left: 50px;
  transition: 1.5s all;
  position: absolute;
  line-height: 15px;
}

.winesPageCarousel .descrLine.up, .nameTitle.up, .appellationTitle.up{
  top: -999px;

}





.winesPageCarousel .descrLine{
  top:0px;
  display: block;

}



.winePhoto{
  width: 40%;
  position: absolute;
  margin-left: -20%;
  top: 30px;
  pointer-events: none;
}

#productsSlider .carousel-inner{
  overflow: show;
}

.bottleWrapper{
  position: relative;
  text-align: right;
}

.kaki-bg{
  background-color: #dacdbd;
  width: 60%;
  display: inline-block;
  position: relative;
  text-align: center;
}

.winesPageCarousel .carousel-control{
  position: relative;
  top: 80%;
  height: 40px;
  width: 40px;
  text-align: center;

  background: #000;
  opacity: 0.9;
}

.winesPageCarousel .carousel-control-prev{

  margin-top: 40px;
  left: auto;
}

.winesPageCarousel .carousel-control-next{


}


.winesPageCarousel .carouselControls{
  position: absolute;
  z-index: 999;
  right: -20px;
  bottom: 40px;
}

#winesListAccordion{

}

#winesListAccordion .card, #winesListAccordion .card .card-header{
  border: none;
}

#winesListAccordion .card .card-header{
  padding: 0px;
}

#winesListAccordion .card .card-header h2 button{
  color: #000;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 400;
}

#winesListAccordion .card .card-body ul{
  margin-bottom: 0px;
}

#winesListAccordion .card .card-body ul li{
  font-size: 14px;
}

#winesListAccordion .card, #winesListAccordion .card .card-header, #winesListAccordion .card .card-body{
  background: transparent!important;
}

.bg-mid-grey{
  background-color: #ebebeb;
}

.wineSelect{
  cursor: pointer;
}

.wineSelect.active{
  color: #b63b3b;
}

.wineCardDescription{
  border-bottom: 1px solid #000;
  margin-bottom: 30px;
  padding-bottom: 10px;
  position: relative;
}

#downloadTechnicalSheet{
  display: inline-block;
  text-transform: uppercase;
  font-family: Barlow, sans-serif;
  font-size: 13px;
  font-weight: 400;
  width: 300px;
  text-align: center;
  position: absolute;
  top: -25px;
  left: 50%;
  margin-left: -150px;
  color: #000;
    transition: 0.3s all;
}

.wineCardSubLinks{

}

.wineCardSubLinks li{
  text-transform: uppercase;
  font-size: 13px;
  margin-bottom: 10px;
}

.wineCardSubLinks li img{
  width: 15px;
  display: inline-block;
  margin-right: 10px;
}

.empty-black-box{
  border: 3px solid #000;
  position: absolute;
  z-index: -2;
}

.empty-black-box .slideSideLabel{
  font-size: 70px;
  text-transform: uppercase;
  color:#B49E62;
  writing-mode: vertical-rl;
  position: absolute;
  font-family: 'Cormorant Garamond', serif;
  bottom: 0px;
  left: -50px;
  font-weight: 100;
  line-height: 30px;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.wineShop{
  width: 70vw;
  display: inline-block;
}

.wineShop h1{
  font-family: 'Cormorant Garamond', serif;
  color: #ac9457;
  font-weight: 300;
  font-size: 34px;
  line-height: 40px;
}

.wineShop h2{
  font-size: 14px;
}

.wineShop p{
  font-family: 'Cormorant Garamond', serif;
  font-size: 14px;
  letter-spacing: 1px;
}

.wineShop a{
  color: #000!important;
  letter-spacing: 1px;
}

.wineShop .topBar{
  text-transform: uppercase;
  margin-bottom: 20px;
  font-size: 13px;
}

.wineShop .bottomBar{
  margin:10px 0px 10px 0px;
  background: #ebebeb;
  padding: 10px;
  font-weight: bold;
  font-size: 13px;

}

.wineShop .bottomBar img{
  height: 25px;
  margin-right: 10px;
}

.littleSeparator{
  width: 100px;
  border-bottom: 1px solid #000;
  display: inline-block;
  height: 1px;
  margin: 10px 0px;
}


.fullPageFloatingBtn{
  border: 1px solid #fff;
  display: inline-block;
  padding: 10px 15px;
  color: #fff;
  text-transform: uppercase;
  white-space: nowrap;
  cursor: pointer;
}

.fullPageFloatingBtn img{
  height: 20px;
  margin-right: 10px;
}

.fullPageFloatingBtnTop{
  display: inline-block;
  padding: 10px 15px;
  color: #fff;
  text-transform: uppercase;
  white-space: nowrap;
}

.fullPageFloatingBtnTop img{
  height: 20px;
  margin-right: 10px;
}

.geograficoLogoGallerySlider{
  display: block;
  width: 240px;
  position: absolute;
  top: 60px;
  left: 50%;
  margin-left: -120px;
  z-index: 999;

}


.geograficoSignature{
  display: block;
  position: absolute;
  width: 480px;
  font-size: 64px;
  font-family: 'Pinyon Script', cursive;
  bottom: 60px;
  left: 50%;
  margin-left:-240px;
  color: #fff;
  z-index: 999;
  text-align: center;
}

.goHomeBtn{
  display: block;
  color: #fff;
  position: fixed;
  top:20px;
  left:20px;
  z-index: 999;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.goHomeBtn:hover{
  color: #fff;
}

.goHomeBtn.dark{
  color: #000;
}

.goHomeBtn.dark:hover{
  color: #000;
}

.mh-80vh{
  max-height: 80vh;
}

.mh-90vh{
  max-height: 90vh;
}

.rightBar{
  position: fixed;
  right: 10px;
  top: 15%;
  z-index: 9999;
  text-align: center;
  height: 480px;
  font-size: 12px;
}

.descrLineWrapper{
  height: 35px;
  position: relative;
}

.rightBar .sectionName{
  margin-bottom: 40px;
  letter-spacing: 3px;
}

.rightBar .copyright{
  margin-top: 40px;
  letter-spacing: 3px;
}

.rightBar .sectionName, .rightBar .copyright{
  writing-mode: vertical-rl;
  text-orientation: mixed;

  color: #fff;
  font-size: 12px;
  text-transform: uppercase;
}

.rightBar.dark .sectionName, .rightBar.dark .copyright{
  color: #000;
}



.rightBar .sectionsList{
  margin-top: 10px;

}

.rightBar .sectionsList .sectionItem{
  position: relative;
  cursor: pointer;
  width: 16px;
  height: 16px;
  background: transparent;
  margin-bottom: 5px;
  border: 1px solid rgba(255,255,255,0);
  line-height: 10px;
  text-align: center;
}

.rightBar .sectionsList .sectionItem.active{
  border: 1px solid #fff;
}

.rightBar.dark .sectionsList .sectionItem.active{
  border-color: #000;
}

.rightBar .sectionsList .sectionItem .littleSquare{
  height: 8px;
  width: 8px;
  background: #fff;
  display: block;
  position: absolute;
  top: 3px;
  left: 3px;


}

.rightBar.dark .sectionsList .sectionItem .littleSquare{
  background: #000;
}


.leftBar{
  writing-mode: vertical-rl;
  position: fixed;
  text-orientation: sideways-right;
  left: 5px;
  top: 55%;
  z-index: 9999;
  text-align: center;
  height: 480px;
  margin-top: -240px;
  font-size: 12px;
}

.leftBar a{
  font-size: 12px;
  color: #fff;
  display: inline-block;
  margin-bottom: 70px;
  text-transform: uppercase;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  line-height: 28px;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  letter-spacing: 3px;
  font-weight: 300;
  transition: 0.5s;
}

a:hover{
  color: #B49E62!important;
}

.leftBar.dark a{
  color: #000;
}

.bottleWrapper .geograficoLogo{
  width: 200px;
  position: absolute;
  left: 50%;
  margin-left: -60px;
  top:-105px;
}

.fp-slidesNav{
  display: block;
  text-align: center;
  border-radius: 0px!important;
}

.fp-slidesNav ul{
  display: inline-block;
  border-radius: 0px!important;
}

.fp-slidesNav ul li {
  border-radius: 0px!important;
  margin:0px!important;
  margin-left: 7px!important;
  height: 16px!important;
  width: 16px!important;
}
.fp-slidesNav ul li a{
  border-radius: 0px!important;
}

.fp-slidesNav ul li a.active{
  border: 1px solid #fff;
}

.fp-slidesNav.dark ul li a.active{
  border: 1px solid #000;
}

.fp-slidesNav ul li a.active span{
  height: 8px!important;
  width: 8px!important;
  margin: -4px 0 0 -4px !important;
}

.fp-slidesNav ul li a span{
  border-radius: 0px!important;
  transition: none;
  background: #fff!important;
  height: 8px!important;
  width: 8px!important;
  margin: -4px 0 0 -4px !important;
}

.fp-slidesNav.dark ul li a span{
  background: #000!important;
}

.fp-slidesNav .slidesNavSlideName{
  display: inline-block;
  text-transform: uppercase;
  font-size: 12px;
  color: #fff;
  letter-spacing: 3px;
}

.fp-slidesNav.dark .slidesNavSlideName{
  color: #000;
}

.fp-slidesNav ul li


#subappellationWrapper{
  transition: 0.5s all;
  height: 66px;
  opacity: 1;
}

#firstvintageWrapper{
  opacity: 0;
  height: 0px;
}

#harvestWrapper{
  opacity: 0;
  height: 0px;
}


.wineListCaret{
  display: inline-block;
  transition: 0.5s all;
}

.wineListCaret.open{
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}


/*
.customVerticalCarousel .carousel-inner> .carousel-item.carousel-item-next ,
.customVerticalCarousel .carousel-inner > .carousel-item.active.carousel-item-right{
transform: translate3d(0, 100%, 0); -webkit-transform: translate3d(0, 100%, 0); -ms-transform: translate3d(0, 100%, 0); -moz-transform: translate3d(0, 100%, 0); -o-transform: translate3d(0, 100%, 0);  top: 0;

}
.customVerticalCarousel .carousel-inner > .carousel-item.carousel-item-prev ,
.customVerticalCarousel .carousel-inner > .carousel-item.active.carousel-item-left{
transform: translate3d(0,-100%, 0); -webkit-transform: translate3d(0,-100%, 0);  -moz-transform: translate3d(0,-100%, 0);-ms-transform: translate3d(0,-100%, 0); -o-transform: translate3d(0,-100%, 0); top: 0;

}
.customVerticalCarousel .carousel-inner > .carousel-item.next.carousel-item-left ,
.customVerticalCarousel .carousel-inner > .carousel-item.carousel-item-prev.carousel-item-right ,
.customVerticalCarousel .carousel-inner > .carousel-item.active{
transform:translate3d(0,0,0); -webkit-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0);; -moz-transform:translate3d(0,0,0); -o-transform:translate3d(0,0,0); top:0;

}
*/


.customVerticalCarousel .carousel-item-next.carousel-item-left,
.customVerticalCarousel .carousel-item-prev.carousel-item-right {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.customVerticalCarousel .carousel-item-next,
.customVerticalCarousel .active.carousel-item-right {
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100% 0);
}

.customVerticalCarousel .carousel-item-prev,
.customVerticalCarousel .active.carousel-item-left {
  -webkit-transform: translate3d(0,-100%, 0);
  transform: translate3d(0,-100%, 0);
}


.bottomSquaresSeparator{
  display: inline-block;
  margin:0px 10px 0px 15px;
}








.arrowScrollDown{
  display: inline-block;

}
.arrowScrollDown span{
  display: block;
  width: 30px;
  height: 30px;
  border-bottom: 1px solid #fff;
  border-right: 1px solid #fff;
  transform: rotate(45deg);
  margin: -10px;
  animation: animate 2s infinite;
}

.arrowScrollDown.black span{
  border-bottom: 1px solid #000!important;
  border-right: 1px solid #000!important;
}

.arrowScrollDown span:nth-child(2){
  animation-delay: -0.2s;
}
.arrowScrollDown span:nth-child(3){
  animation-delay: -0.4s;
}
@keyframes animate {
  0%{
    opacity: 0;
    transform: rotate(45deg) translate(-20px,-20px);
  }
  50%{
    opacity: 1;
  }
  100%{
    opacity: 0;
    transform: rotate(45deg) translate(20px,20px);
  }
}






.slidingMenu{
  height: 100vh;
  width: 100vw;
  position: fixed;
  top:0px;
  left: :0px;
  z-index: 9999999;
  background-color: rgba(0,0,0,0.35);
  transition: 0.5s all;
  opacity: 1;
}

.slidingMenu.out{
  transition: 0.5s all;
  left: -100vw;
  opacity: 0;
}


.slidingMenu .slidingMenuContent{
  background: #fff;
  position: relative;
  width: 100%;
}

.slidingMenu .slidingMenuContent ul{


}

.slidingMenu .slidingMenuContent ul li{
  cursor: pointer;
  font-size: 15px;
  transition: 0.5s all;
  margin-bottom: 30px;
}

.slidingMenu .slidingMenuContent ul li:hover{
    color: #B49E62!important
}


.slidingMenu .slidingMenuContent ul li strong{
  letter-spacing: 4.1px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 20px;
  display: block;
  padding-left: 30px;
  margin-left: -30px;
  background-position: center left;
  background-repeat: no-repeat;
}
.slidingMenu .slidingMenuContent ul li span{
  font-family: 'Cormorant Garamond', serif;
  font-size: 18px;
}


.close {
  position: absolute;
  right: 40px;
  top: 24px;
  width: 32px;
  height: 32px;
  opacity: 0.3;
  z-index: 999999;
}
.close:hover {
  opacity: 1;
}
.close:before, .close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: #333;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}


.timelineMap{
  margin-left: -30%;
  margin-top: -10%;
  z-index: -1;
  transform: scale(0.7)
}


.timelineMap{
  margin-left: -50%;
  margin-top: -20%;
  z-index: -1;
  transform: scale(0.7)
}

@media screen and (min-width: 2400px) {
  .timelineMap{
    margin-left: -30%;
    margin-top: 10%!important;
    z-index: -1;
    transform: scale(0.9)
  }

  .stdPage p{
    font-size: 16px;
    font-family: 'Cormorant Garamond', serif;

    line-height: 24px;


    letter-spacing: 0.6px;
    margin-bottom: 40px;

  }

  .stdPage h3{
    text-transform: uppercase;
    font-size: 22px;
    letter-spacing: 2.3px;
    padding-left: 30px;
    margin-left: -30px;
    background-position: center left;
    background-repeat: no-repeat;
    margin-bottom: 15px;



  }


  .wineShop{
    width: 70vw;
    display: inline-block;
  }

  .wineShop h1{
    font-family: 'Cormorant Garamond', serif;
    color: #ac9457;
    font-weight: 300;
    line-height: 40px;
  }

  .wineShop h2{
    font-size: 14px;
  }

  .wineShop p{
    font-family: 'Cormorant Garamond', serif;
    font-size: 18px;
    line-height: 22px;
    margin: 30px 0px;
    letter-spacing: 1px;
    margin-bottom: 0px;
  }

  .wineShop a{
    color: #000!important;
    letter-spacing: 1px;
  }

  .wineShop .topBar{
    text-transform: uppercase;
    margin-bottom: 40px;
    font-size: 15px;
  }

  .wineShop .bottomBar{
    margin:20px 0px 40px 0px;
    background: #ebebeb;
    padding: 15px;
    font-weight: bold;
    font-size: 15px;

  }

  .wineShop .bottomBar img{
    height: 25px;
    margin-right: 10px;
  }

}

@media only screen and (min-width : 4095px) and (max-width : 5120px) {

}

@media only screen and (min-width: 1440px) and (max-width: 767px) {
  .timelineMap{
    margin-left: -30%;
    margin-top: 10%!important;
    z-index: -1;
    transform: scale(0.5)
  }
}

#bottomLeftLinks{
  position: fixed;
  z-index: 999;
  bottom: 20px;
  left: 20px;
}

#bottomLeftLinks a{
  font-size: 12px;
  text-transform: uppercase;
  color: #B49E62;
  letter-spacing: 3px;
}

#bottomRightLinks{
  position: fixed;
  z-index: 999;
  bottom: 20px;
  right: 20px;
}

#bottomRightLinks{
  font-size: 12px;
  text-transform: uppercase;
  color: #B49E62;
  letter-spacing: 3px;
}

#topCenterFixedLogo{
  position: fixed;
  z-index: 9999;
  top: 10px;
  left: 50%;
  width: 240px;
  margin-left: -120px;
}

#topCenterFixedLogo img{
  width: 100%;
}
